@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">TP3 C# ASP.NET</h1>
    <p>
        Crie uma aplicação simples que gerencie uma lista de produtos usando EF Core. A aplicação deve ser capaz de: adicionar, listar, editar e excluir produtos.
    </p>
    </nav>
    <a asp-area="" asp-controller="Produtos" asp-action="Index">Acessar Produtos</a>
</div>
